/* src/components/PlantList.css */

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #D7E8BA;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  height: 120px;
}

.header-title {
  color: #4A7C59;
  margin: 10px 0;
  font-size: 2em;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.add-plant-button,
.favorite-plant-button {
  background-color: #4A7C59;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
}

.add-plant-button:hover,
.favorite-plant-button:hover {
  background-color: #3A5C43;
}

.plant-list-container {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.plant-item {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
}

.plant-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.plant-item p {
  margin: 10px 0;
}

.plant-item button {
  background-color: #D7E8BA;
  color: #040403;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  margin-top: 10px; /* Add space between the buttons */
}

.plant-item button:hover {
  background-color: #B07156;
}

.favorite-button {
  background-color: #4A7C59; /* Correct color */
  color: #ffffff;
  margin-top: 10px; /* Space below the "View Details" button */
}

.favorite-button:hover {
  background-color: #3A5C43; /* Correct hover color */
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}